<footer id="footer" class="footer">
<div class="copyright">
&copy; Copyright <strong><span>Ps_barber</span></strong>. Reservados todos los derechos
</div>
<div class="credits">
Diseñada por grupo Ps_barber 
</div>`
</footer>