<link href="css/style.css" rel="stylesheet">
<aside id="sidebar" class="sidebar">
<ul class="sidebar-nav" id="sidebar-nav">

<li class="nav-item">
  <a class="nav-link " href="/home">
    <i class="bi bi-grid"></i>
    <span>Dashboard</span>
  </a>
</li><!-- End Dashboard Nav -->

<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-menu-button-wide"></i><span>Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
  <li>
      <a href="/usuarios/create">
        <i class="bi bi-circle"></i><span>Agregar usuarios</span>
      </a>
    </li>    
  <li>
          <a href="/usuarios">
            <i class="bi bi-circle"></i><span>Listar usuarios</span>
          </a>
      </li>
    
  </ul>
</li><!-- End Components Nav -->

<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-journal-text"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    
    <li>
      <a href="/cliente/create">
        <i class="bi bi-circle"></i><span>Agregar clientes</span>
      </a>
    </li>
    <li>
      <a href="/cliente">
        <i class="bi bi-circle"></i><span>listar clientes</span>
      </a>
    </li>
  </ul>



</li><!-- End Forms Nav -->

<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-layout-text-window-reverse"></i><span>Ventas</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="/ventas/create">
        <i class="bi bi-circle"></i><span>Agregar ventas</span>
      </a>
    </li>
    <li>
      <a href="/ventas">
        <i class="bi bi-circle"></i><span>Listar ventas</span>
      </a>
    </li>
  </ul>
</li><!-- End Tables Nav -->

<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-bar-chart"></i><span>Agenda</span><i class="bi bi-chevron-down ms-auto"></i>
  </a> 
  <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="/agenda/create">
        <i class="bi bi-circle"></i><span>Agregar agenda</span>
      </a>
    </li>
    <li>
      <a href="/agenda">
        <i class="bi bi-circle"></i><span>Listar agenda</span>
      </a>
    </li>
  </ul>
</li><!-- End Charts Nav -->

<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-gem"></i><span>Rol</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
    <li>
      <a href="/rol/create">
        <i class="bi bi-circle"></i><span>Agregar rol</span>
      </a>
    </li>
    <li>
      <a href="/rol">
        <i class="bi bi-circle"></i><span>Listar rol</span>
      </a>
    </li>
  </ul>
</li><!-- End Icons Nav -->
</ul>
</aside>